/* THIS SECTION STYLES AND ARRANGES UNIVERSAL HEADER ELEMENTS */

/* This removes the page's border */
body {
    margin: 0;
}

/* arrange page header using flex box */
.mode {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0 0.35rem;
    padding: 0.5rem;
    height: 2rem;
    
}

/* arrange navbar items */
.icon {
    margin: 0 0.40rem;
    font-size: 1.10rem;
}



