/* THIS SECTION STYLES THE BODY AND UNIVERSAL COLOR MODE */

/* This removes the page's border */
body {
    margin: 0;
}

/* light Mode */
.light {
    background-color: white;
    color: black;
    height: 100vh;
}

/* dark Mode */
.dark {
    background-color: black;
    color: white;
    height: 100vh;
   
  }


/* THIS SECTION STYLES AND ARRANGES UNIVERSAL HEADER ELEMENTS */

/* light mode */
.light .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid black;
    padding: 0.25rem;
}

/* dark mode */
.dark .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid white;
    padding: 0.25rem;
}

h1 {
    padding-left: 1.5rem;
}


/* arrange page header using flex box */
.mode {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0 0.35rem;
    padding: 0.5rem;
    height: 2rem;
    
}

/* arrange navbar items */
.icon {
    margin: 0 0.40rem;
    font-size: 1.10rem;
}

/* THIS SECTION STYLES THE MAIN SECTION */

/* place row flex box around img and form */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* THIS SECTION STYLES THE COLOR MODE SLIDER */

/* positions the slider checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 2.5%;
    top: 20.5%
  }
  
  /* hides the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* styling for the slider while unchecked */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 8px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* styling for the slider after its been checked */
  input:checked + .slider {
    background-color: rgb(255, 255, 255);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(255, 255, 255);
  }
  
  input:checked + .slider:before {
    background-color: black;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* makes the slider round */
  .slider.round {
    border-radius: 28px;
    height: 1.1rem;
    width: 3rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  